body {
  font-family: "Roboto", sans-serif;
}

.menu-topo,
.menu-topo-mobile {
  height: 54px;

  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
  z-index: 1;
}

.menu-topo-mobile .insta .icone {
  margin-left: 22px;
}

.meio {
  display: flex;
  width: 935px;
  justify-content: space-between;
  align-items: center;
}

.tudo {
  display: flex;
  justify-content: center;
}

.bloco_lateral {
  margin-left: 29px;
  margin-top: 57px;
  width: 292px;
}

.meu_perfil {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
}



.eu {
  margin-left: 17px;
}

.editarNome{
  display: flex;
}

.editarNome img{
  width: 14px;
  margin-left: 8px;
  color: #8E8E8E;

}

.nickname {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  line-height: 16px;
}

.nome_real {
  font-weight: 300;
  font-size: 14px;
  color: #8e8e8e;
}

.titulo {
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
  margin-bottom: 17px;
}

.mostra {
  display: flex;
  width: 292px;
  justify-content: space-between;
}

.mais {
  color: #262626;
  font-size: 12px;
  font-weight: 500;
}

.sugestoes {
  position: absolute;
  top: 80px;
  left: 0px;
}

.sugestao {
  display: flex;
  width: 292px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.p1 {
  display: flex;
}

.perfil_sugestao {
  width: 32px;
}

.identifica {
  margin-left: 11px;
  height: 32px;
  justify-content: space-between;
}

.segue {
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 400;
}

.sugestao a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #139ef2;
}

.perfil_usuario {
  width: 56px;
  height: 56px;
  border-radius: 500px;
}

.insta {
  display: flex;
  align-items: center;
}

.insta .icone {
  height: 22px;
  margin-right: 0px;
}

.logo {
  height: 29px;
}

.barra-v {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
  margin: 0px 10px;
}

.pesquisa {
  border: 1px solid #dbdbdb;
  font-size: 12px;
  width: 215px;
  height: 28px;
  border-radius: 3px;
  color: #979797;
  font-weight: 400;
}

.pesquisa::placeholder {
  text-align: center;
  color: #979797;
  font-weight: 400;
}

.icone {
  height: 22px;
  margin: 12px 17px 12px 0px;
}

.opcoes {
  display: flex;
  justify-content: space-around;
}

.opcoes a {
  margin: 0px 0px 0px 25px;
}

.tudo {
  margin-top: 54px;
  display: flex;
  background-color: #fafafa;
  justify-content: center;
}

.stories {
  display: flex;
  width: 612px;
  height: 118px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-top: 34px;
  background-color: white;
  margin-bottom: 24px;
  overflow-x: hidden;
  position: relative;
}

.espaco {
  width: 4px;
}

.story {
  width: 66px;
  height: 86px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0px 0px 14px;
  position: relative;
}

.story .back {
  width: 66px;
  height: 66px;
}

.foto_story {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.story p {
  font-size: 12px;
  color: #262626;
  font-weight: 400;
}

.botao {
  width: 26px;
  height: 26px;

  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  position: absolute;
  top: 46px;
  right: 9px;
}

.sidebar {
  position: fixed;
}

.post {
  margin-bottom: 60px;
}

.post_topo {
  width: 612px;
  height: 61px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #efefef;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil img {
  height: 32px;
  margin: 15px 15px 13px 17px;
}

.nome {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}

.pontos {
  margin: 0px 17px;
}

.postagem {
  width: 612px;
}

.info {
  margin-top: -3px;
  border: 1px solid #dbdbdb;
  background-color: white;
}

.info img,
.likes_coment {
  margin-left: 17px;
}

.likes_coment .icone {
  margin: 12px 17px 12px 0px;
}

.icones_post {
  display: flex;
  justify-content: space-between;
}

.perfil_like {
  width: 20px;
}

.dados {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

p {
  margin-left: 5px;
  font-weight: 300;
}

span {
  font-weight: 500;
}

.detalhes {
  width: 292px;
  margin-top: 33px;
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
  position: absolute;
}
.detalhes p {
  margin-bottom: 17px;
}

.menu-base {
  background-color: white;
  width: 100%;
  height: 54px;
  justify-content: space-around;
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 935px) {
  .bloco_lateral {
    display: none;
  }
}

@media (max-width: 614px) {
  .feed {
    width: 100%;
  }
  .menu-topo {
    display: none;
  }
  .post,
  .menu-topo-mobile,
  .stories,
  .post_topo,
  .postagem,
  .info .tudo {
    width: 100%;
  }
  .botao {
    display: none;
  }
  video {
    width: 100%;
  }
}

@media (min-width: 614px) {
  .menu-topo-mobile {
    display: none;
  }
  .menu-base {
    display: none;
  }
}
